.cylinder {
  /* this variable will define how much ci*/
  --r: 10px;
  /* whatever values/units you want */
  background: 
    radial-gradient(50% var(--r) at 50% var(--r), #0003 99.99%, #0000 0),
    radial-gradient(50% var(--r) at 50% calc(100% - var(--r)), #fff3 99.99%, #0000 0),
    #369;
  border-radius: 100% / calc(var(--r) * 2);
}
